<?xml version="1.0" ?>
<robot name="spot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- We do not specify links for the cameras in the URDF. Instead, transforms for those are
         published by the driver (see spot_driver package) during runtime, so that the transforms
         include calibration adjustments. -->

    <xacro:arg name="has_arm" default="False"/>
    <xacro:arg name="has_eap" default="False"/>
    <xacro:arg name="has_eap_2" default="False"/>
    <xacro:arg name="has_rl_kit" default="False"/>
    <xacro:arg name="has_realsense" default="False"/>
    <xacro:arg name="kinematic_model" default="none"/>
    <xacro:arg name="use_proprietary_meshes" default="false" />
    <xacro:arg name="proprietary_pkg" default="spot_proprietary_description" />
    <xacro:arg name="proprietary_mesh_format" default="dae" />
    <xacro:property name="kinematic_model" value="$(arg kinematic_model)"/>

    <!-- Determine mesh source -->
    <xacro:property name="mesh_pkg" value="$(eval proprietary_pkg if use_proprietary_meshes else 'spot_description')"/>
    <xacro:property name="mesh_ext" value="$(eval proprietary_mesh_format if use_proprietary_meshes else 'obj')" />

    <xacro:unless value="${kinematic_model == 'none'}">
        <link name="base_footprint"/>
    </xacro:unless>

    <!-- Virtual Joints -->
    <xacro:if value="${kinematic_model == 'body_assist'}">
        <link name="body_height"/>
        <link name="body_with_yaw"/>
        <link name="body_with_pitch_and_yaw"/>
    
        <joint name="body_height_joint" type="prismatic">
            <parent link = "base_footprint"/>
            <child  link = "body_height"/>
            <axis xyz = "0 0 1"/>
            <limit lower = "0.37" upper = "0.60" velocity="0.1" effort="1e9"/> 
        </joint>

        <joint name="body_yaw_joint" type="revolute">
            <parent link = "body_height"/>
            <child  link = "body_with_yaw"/>
            <limit lower = "${-pi/9}" upper = "${pi/9}" velocity="0.1" effort="1e9"/>
            <axis    xyz = "0 0 1"/>
        </joint>

        <joint name="body_pitch_joint" type="revolute">
            <parent link = "body_with_yaw"/>
            <child  link = "body_with_pitch_and_yaw"/>
            <limit lower = "${-pi/12}" upper = "${pi/12}"  velocity="0.1" effort="1e9"/>
            <axis    xyz = "0 1 0"/>
        </joint>

        <joint name="body_roll_joint" type="revolute">
            <parent link = "body_with_pitch_and_yaw"/>
            <child  link = "body"/>
            <limit lower = "${-pi/18}" upper = "${pi/18}"  velocity="0.1" effort="1e9"/>
            <axis    xyz = "1 0 0"/>
        </joint>
    </xacro:if>

    <xacro:if value="${kinematic_model == 'mobile_manipulation'}">
        <!-- Virtual Base Movement links -->
        <link name="body_x"/>
        <link name="body_y"/>
        <link name="body_or"/>

        <!-- Virtual Joints -->
        <joint name="body_x" type="prismatic">
            <parent link = "base_footprint"/>
            <child  link = "body_x"/>
            <axis xyz = "1 0 0"/>
            <limit lower = "-10.0" upper = "10.0" velocity="0.1" effort="1e9"/>
        </joint>

        <joint name="body_y" type="prismatic">
            <parent link = "body_x"/>
            <child  link = "body_y"/>
            <axis xyz = "0 1 0"/>
            <limit lower = "-10.0" upper = "10.0" velocity="0.1" effort="1e9"/>
        </joint>

        <joint name="body_or" type="revolute">
            <parent link = "body_y"/>
            <child  link = "body_or"/>
            <limit lower = "0" upper = "${2*pi}" velocity="0.1" effort="1e9"/>
            <axis    xyz = "0 0 1"/>
        </joint>

        <joint name="ground_to_body" type="fixed">
            <parent link = "body_or"/>
            <child  link = "body"/>
            <origin xyz="0 0 0.52"/>
        </joint>
        <!-- EOF Virtual Base Movement Links-->
    </xacro:if>

    <!-- Fixed links -->
    <link name="body">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/body.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/body_collision.stl" />
            </geometry>
        </collision>
        <inertial>
             <mass value="16.25" />
             <inertia  ixx="0.085" ixy="0.0"  ixz="0.0"  iyy="1.045"  iyz="0.0"  izz="1.042" />
    	</inertial>
    </link>

    <link name="base_link"/>
    <joint name="base_link_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="body" />
        <child link="base_link" />
    </joint>

    <link name="front_rail"/>
    <joint name="front_rail_joint" type="fixed">
        <origin xyz="0.223 0 0.0805" rpy="0 0 0" />
        <parent link="body" />
        <child link="front_rail" />
    </joint>

    <link name="rear_rail"/>
    <joint name="rear_rail_joint" type="fixed">
        <origin xyz="-0.223 0 0.0805" rpy="0 0 0" />
        <parent link="body" />
        <child link="rear_rail" />
    </joint>

    <link name="payload_mount_reference_frame"/>
    <joint name="payload_mount_reference_frame_joint" type="fixed">
        <parent link = "base_link"/>
        <child  link = "payload_mount_reference_frame"/>
        <origin xyz = "0.2075 0.0 0.0805"/>
    </joint>

    <!-- Front Left -->
    <link name="front_left_hip">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_left_hip.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_left_hip_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="front_left_hip_x" type="revolute">
        <origin xyz="0.29785 0.05500 0.00000" rpy="0 0 0" />
        <axis xyz="1 0 0" />
        <parent link="body" />
        <child link="front_left_hip" />
        <limit effort="1000" velocity="1000.00" lower="-0.78539816339744827899" upper="0.78539816339744827899" />
    </joint>

    <link name="front_left_upper_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_left_upper_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_left_upper_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="front_left_hip_y" type="revolute">
        <origin xyz="0.0 0.110945 0.0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="front_left_hip" />
        <child link="front_left_upper_leg" />
        <limit effort="1000" velocity="1000.00" lower="-0.89884456477707963539" upper="2.2951079663725435509" />
    </joint>

    <link name="front_left_lower_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_left_lower_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_left_lower_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="front_left_knee" type="revolute">
        <origin xyz="0.025 0.000 -0.3205" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="front_left_upper_leg" />
        <child link="front_left_lower_leg" />
        <limit effort="1000" velocity="1000.00" lower="-2.7929" upper="-0.254801" />
    </joint>

    <!-- Front Right -->
    <link name="front_right_hip">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_right_hip.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_right_hip_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="front_right_hip_x" type="revolute">
        <origin xyz="0.29785 -0.05500 0.00000" rpy="0 0 0" />
        <axis xyz="1 0 0" />
        <parent link="body" />
        <child link="front_right_hip" />
        <limit effort="1000" velocity="1000.00" lower="-0.78539816339744827899" upper="0.78539816339744827899" />
    </joint>

    <link name="front_right_upper_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_right_upper_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_right_upper_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="front_right_hip_y" type="revolute">
        <origin xyz="0.0 -0.110945 0.0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="front_right_hip" />
        <child link="front_right_upper_leg" />
        <limit effort="1000" velocity="1000.00" lower="-0.89884456477707963539" upper="2.2951079663725435509" />
    </joint>

    <link name="front_right_lower_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_right_lower_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_right_lower_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="front_right_knee" type="revolute">
        <origin xyz="0.025 0.000 -0.3205" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="front_right_upper_leg" />
        <child link="front_right_lower_leg" />
        <limit effort="1000" velocity="1000.00" lower="-2.7929" upper="-0.247563" />
    </joint>

    <!-- Rear Left -->
    <link name="rear_left_hip">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_left_hip.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_left_hip_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="rear_left_hip_x" type="revolute">
        <origin xyz="-0.29785 0.05500 0.00000" rpy="0 0 0" />
        <axis xyz="1 0 0" />
        <parent link="body" />
        <child link="rear_left_hip" />
        <limit effort="1000" velocity="1000.00" lower="-0.78539816339744827899" upper="0.78539816339744827899" />
    </joint>

    <link name="rear_left_upper_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_left_upper_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_left_upper_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="rear_left_hip_y" type="revolute">
        <origin xyz="0.0 0.110945 0.0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="rear_left_hip" />
        <child link="rear_left_upper_leg" />
        <limit effort="1000" velocity="1000.00" lower="-0.89884456477707963539" upper="2.2951079663725435509" />
    </joint>

    <link name="rear_left_lower_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_left_lower_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_left_lower_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="rear_left_knee" type="revolute">
        <origin xyz="0.025 0.000 -0.3205" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="rear_left_upper_leg" />
        <child link="rear_left_lower_leg" />
        <limit effort="1000" velocity="1000.00" lower="-2.7929" upper="-0.267153" />
    </joint>

    <!-- Rear Right -->
    <link name="rear_right_hip">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_right_hip.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_right_hip_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="rear_right_hip_x" type="revolute">
        <origin xyz="-0.29785 -0.05500 0.00000" rpy="0 0 0" />
        <axis xyz="1 0 0" />
        <parent link="body" />
        <child link="rear_right_hip" />
        <limit effort="1000" velocity="1000.00" lower="-0.78539816339744827899" upper="0.78539816339744827899" />
    </joint>

    <link name="rear_right_upper_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_right_upper_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_right_upper_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="rear_right_hip_y" type="revolute">
        <origin xyz="0.0 -0.110945 0.0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="rear_right_hip" />
        <child link="rear_right_upper_leg" />
        <limit effort="1000" velocity="1000.00" lower="-0.89884456477707963539" upper="2.2951079663725435509" />
    </joint>

    <link name="rear_right_lower_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_right_lower_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_right_lower_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="rear_right_knee" type="revolute">
        <origin xyz="0.025 0.000 -0.3205" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="rear_right_upper_leg" />
        <child link="rear_right_lower_leg" />
        <limit effort="1000" velocity="1000.00" lower="-2.7929" upper="-0.257725" />
    </joint>

    <!-- Spot Arm -->
    <xacro:if value="$(arg has_arm)">
        <xacro:include filename="$(find spot_description)/urdf/arm/spot_arm.urdf.xacro"/> 
        <xacro:spot_arm name="arm0"/>

        <joint name="arm0_mount" type="fixed">
            <origin xyz="0.292 0 0.188" rpy="0 0 0"/>
            <parent link="base_link"/>
            <child link="arm0_base_link"/>
        </joint>
    </xacro:if>

    <!-- Spot Enhanced Autonomy package (EAP) -->
    <xacro:if value="$(arg has_eap)">
        <link name="lidar_assembly">
          <xacro:if value="$(arg use_proprietary_meshes)">
            <visual>
              <geometry>
		<mesh filename="package://${mesh_pkg}/meshes/accessories/eap_lidar.${mesh_ext}"/>
              </geometry>
            </visual>
            <collision>
              <geometry>
                <mesh filename="package://${mesh_pkg}/meshes/accessories/eap_lidar.${mesh_ext}"/>
              </geometry>
            </collision>
          </xacro:if>
        
          <xacro:unless value="$(arg use_proprietary_meshes)">
            <visual>
              <geometry>
                <cylinder radius="0.12" length="0.17"/>
              </geometry>
	      <origin xyz="0 0 ${0.17/2}"/>
              <material name="black">
                <color rgba="0 0 0 1"/>
              </material>
            </visual>
            <collision>
              <geometry>
                <cylinder radius="0.12" length="0.17"/>
              </geometry>
	      <origin xyz="0 0 ${0.17/2}"/>
            </collision>
          </xacro:unless>
        </link>
        <joint name="lidar_mount" type="fixed">
            <origin xyz="-0.03 0.0 0.0" rpy="0 0 0" />
            <parent link="rear_rail" />
            <child link="lidar_assembly" />
        </joint>

        <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/> 
        <xacro:VLP-16 parent="lidar_assembly" name="velodyne">
            <origin xyz="0.0 0 0.08" rpy="0 0 0" />
        </xacro:VLP-16>
    </xacro:if>

    <!-- Updated Spot Enhanced Autonomy Package (EAP2) -->
    <xacro:if value="$(arg has_eap_2)">
        <link name="eap_2_assembly">
          <xacro:if value="$(arg use_proprietary_meshes)">
            <visual>
              <geometry>
                <mesh filename="package://${mesh_pkg}/meshes/accessories/EAP2.${mesh_ext}" />
              </geometry>
            </visual>
            <collision>
              <geometry>
                <mesh filename="package://${mesh_pkg}/meshes/accessories/EAP2.${mesh_ext}" />
              </geometry>
            </collision>
          </xacro:if>
        
          <xacro:unless value="$(arg use_proprietary_meshes)">
            <!-- Base Box (computer) -->
            <visual name="eap2_base">
              <geometry>
                <box size="0.173 0.264 0.064"/>
              </geometry>
              <origin xyz="0 -0.01 0.032" rpy="0 0 0"/>
              <material name="black">
                <color rgba="0 0 0 1"/>
              </material>
            </visual>
        
            <!-- LIDAR Cylinder -->
            <visual name="eap2_lidar">
              <geometry>
                <cylinder radius="0.0765" length="0.182"/>
              </geometry>
              <origin xyz="0 0.03 0.155" rpy="0 0 0"/> <!-- base_z/2 + lidar_z/2 -->
              <material name="black">
                <color rgba="0 0 0 1"/>
              </material>
            </visual>
        
            <!-- Base collision -->
            <collision name="eap2_base_col">
              <geometry>
                <box size="0.173 0.264 0.064"/>
              </geometry>
              <origin xyz="0 -0.01 0.032" rpy="0 0 0"/>
            </collision>
        
            <!-- LIDAR collision -->
            <collision name="eap2_lidar_col">
              <geometry>
                <cylinder radius="0.0765" length="0.182"/>
              </geometry>
              <origin xyz="0 0.03 0.155" rpy="0 0 0"/>
            </collision>
          </xacro:unless>
        </link>
        <joint name="eap_2_mount" type="fixed">
            <origin xyz="0.015 0.0 0.0" rpy="0 0 ${pi/2}" />
            <parent link="rear_rail" />
            <child link="eap_2_assembly" />
        </joint>

        <link name="velodyne"/>
        <joint name="eap2_to_velodyne_joint" type="fixed">
            <parent link = "eap_2_assembly"/>
            <child  link = "velodyne"/>
            <origin  xyz = "0 0.02775 0.1091" rpy="0 0 -0.9486"/>
        </joint>
    </xacro:if>

    <!-- Spot Reinforcement Learning Research Kit Mount with Nvidia Jetson Orin AGX -->
    <xacro:if value="$(arg has_rl_kit)">
        <xacro:include filename="$(find spot_description)/urdf/accessories/rl_kit.xacro"/>
        <xacro:rl_kit/>
    </xacro:if>

    <!-- Optional custom includes. -->
    <xacro:include filename="$(optenv SPOT_URDF_EXTRAS empty.urdf)" />
</robot>
