<?xml version="1.0" ?>
<robot name="rl_kit_velodyne_mount" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:arg name="use_proprietary_meshes" default="false" />

    <link name="rl_kit_velodyne_mounting_plate">
      <xacro:if value="$(arg use_proprietary_meshes)">
        <visual>
          <geometry>
            <mesh filename="package://spot_propriety_description/meshes/accessories/rl_kit_velodyne_mount.dae"/>
          </geometry>
        </visual>
      </xacro:if>
      <xacro:unless value="$(arg use_proprietary_meshes)">
        <visual>
          <geometry>
          <box size="0.19 0.18 0.013"/>
          </geometry>
        </visual>
      </xacro:unless>
      <collision>
        <geometry>
          <box size="0.19 0.18 0.013"/>
        </geometry>
      </collision>
    </link>
    
    <link name="velodyne_cage">
      <xacro:if value="$(arg use_proprietary_meshes)">
        <visual>
          <geometry>
            <mesh filename="package://spot_propriety_description/meshes/accessories/velodyne_cage.dae"/>
          </geometry>
        </visual>
      </xacro:if>
      <xacro:unless value="$(arg use_proprietary_meshes)">
        <visual>
          <geometry>
          <cylinder length="0.08" radius="0.08"/>
          </geometry>
        <origin xyz="0 0 0.04"/>
        </visual>
      </xacro:unless>
      <collision>
        <geometry>
          <cylinder length="0.08" radius="0.08"/>
        </geometry>
        <origin xyz="0 0 0.04"/>
      </collision>
    </link>

    <joint name="velodyne_cage_link" type="fixed">
        <parent link = "rl_kit_velodyne_mounting_plate"/>
        <child  link = "velodyne_cage"/>
        <origin xyz = "0 0 ${0.5*0.013}"/>
    </joint>

    <xacro:VLP-16 parent="rl_kit_velodyne_mounting_plate" name="velodyne">
        <origin xyz="0 0 0.008" rpy="0 0 0" />
    </xacro:VLP-16>

    <joint name="rl_kit_velodyne_mount_joint" type="fixed">
        <parent link = "rl_kit_jetson_housing_box"/>
        <child  link = "rl_kit_velodyne_mounting_plate"/>
        <origin xyz="-0.03 0.0 0.06"/>
    </joint>
</robot>
