[submodule "spot_driver/doc/clearpath-sphinx-theme"]
	path = spot_driver/doc/clearpath-sphinx-theme
	url = http://github.com/clearpath-docs/clearpath-sphinx-theme.git
[submodule "spot_manipulation"]
	path = spot_manipulation
	url = git@github.com:UTNuclearRoboticsPublic/spot_manipulation.git
[submodule "coral_spot_pack"]
	path = coral_spot_pack
	url = git@github.com:UTNuclearRobotics/coral_spot_pack.git
