<?xml version="1.0" ?>
<robot name="spot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find spot_description)/urdf/spot.urdf.xacro"/>

    <!-- Spot Arm -->
    <xacro:include filename="$(find spot_description)/urdf/arm/spot_arm.urdf.xacro"/> 
    <xacro:spot_arm name="arm0"/>

    <joint name="arm0_mount" type="fixed">
        <origin xyz="0.292 0 0.188" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="arm0_base_link"/>
    </joint>
</robot>
