<?xml version="1.0" ?>
<robot name="spot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- We do not specify links for the cameras in the URDF. Instead, transforms for those are
         published by the driver (see spot_driver package) during runtime, so that the transforms
         include calibration adjustments. -->

    <xacro:arg name="has_arm" default="true" />
    <xacro:arg name="has_velodyne" default="false" />

    <link name="body">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/body.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/body_collision.stl" />
            </geometry>
        </collision>
    </link>

    <link name="base_link"/>
    <joint name="base_link_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="body" />
        <child link="base_link" />
    </joint>

    <link name="front_rail"/>
    <joint name="front_rail_joint" type="fixed">
        <origin xyz="0.223 0 0.0805" rpy="0 0 0" />
        <parent link="body" />
        <child link="front_rail" />
    </joint>

    <link name="rear_rail"/>
    <joint name="rear_rail_joint" type="fixed">
        <origin xyz="-0.223 0 0.0805" rpy="0 0 0" />
        <parent link="body" />
        <child link="rear_rail" />
    </joint>

    <link name="front_left_hip">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_left_hip.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_left_hip_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="front_left_hip_x" type="revolute">
        <origin xyz="0.29785 0.05500 0.00000" rpy="0 0 0" />
        <axis xyz="1 0 0" />
        <parent link="body" />
        <child link="front_left_hip" />
        <limit effort="1000" velocity="1000.00" lower="-0.78539816339744827899" upper="0.78539816339744827899" />
    </joint>
    <link name="front_left_upper_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_left_upper_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_left_upper_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="front_left_hip_y" type="revolute">
        <origin xyz="0.0 0.110945 0.0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="front_left_hip" />
        <child link="front_left_upper_leg" />
        <limit effort="1000" velocity="1000.00" lower="-0.89884456477707963539" upper="2.2951079663725435509" />
    </joint>
    <link name="front_left_lower_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_left_lower_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_left_lower_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="front_left_knee" type="revolute">
        <origin xyz="0.025 0.000 -0.3205" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="front_left_upper_leg" />
        <child link="front_left_lower_leg" />
        <limit effort="1000" velocity="1000.00" lower="-2.7929" upper="-0.254801" />
    </joint>
    <link name="front_right_hip">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_right_hip.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_right_hip_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="front_right_hip_x" type="revolute">
        <origin xyz="0.29785 -0.05500 0.00000" rpy="0 0 0" />
        <axis xyz="1 0 0" />
        <parent link="body" />
        <child link="front_right_hip" />
        <limit effort="1000" velocity="1000.00" lower="-0.78539816339744827899" upper="0.78539816339744827899" />
    </joint>
    <link name="front_right_upper_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_right_upper_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_right_upper_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="front_right_hip_y" type="revolute">
        <origin xyz="0.0 -0.110945 0.0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="front_right_hip" />
        <child link="front_right_upper_leg" />
        <limit effort="1000" velocity="1000.00" lower="-0.89884456477707963539" upper="2.2951079663725435509" />
    </joint>
    <link name="front_right_lower_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_right_lower_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/front_right_lower_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="front_right_knee" type="revolute">
        <origin xyz="0.025 0.000 -0.3205" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="front_right_upper_leg" />
        <child link="front_right_lower_leg" />
        <limit effort="1000" velocity="1000.00" lower="-2.7929" upper="-0.247563" />
    </joint>
    <link name="rear_left_hip">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_left_hip.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_left_hip_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="rear_left_hip_x" type="revolute">
        <origin xyz="-0.29785 0.05500 0.00000" rpy="0 0 0" />
        <axis xyz="1 0 0" />
        <parent link="body" />
        <child link="rear_left_hip" />
        <limit effort="1000" velocity="1000.00" lower="-0.78539816339744827899" upper="0.78539816339744827899" />
    </joint>
    <link name="rear_left_upper_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_left_upper_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_left_upper_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="rear_left_hip_y" type="revolute">
        <origin xyz="0.0 0.110945 0.0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="rear_left_hip" />
        <child link="rear_left_upper_leg" />
        <limit effort="1000" velocity="1000.00" lower="-0.89884456477707963539" upper="2.2951079663725435509" />
    </joint>
    <link name="rear_left_lower_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_left_lower_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_left_lower_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="rear_left_knee" type="revolute">
        <origin xyz="0.025 0.000 -0.3205" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="rear_left_upper_leg" />
        <child link="rear_left_lower_leg" />
        <limit effort="1000" velocity="1000.00" lower="-2.7929" upper="-0.267153" />
    </joint>
    <link name="rear_right_hip">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_right_hip.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_right_hip_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="rear_right_hip_x" type="revolute">
        <origin xyz="-0.29785 -0.05500 0.00000" rpy="0 0 0" />
        <axis xyz="1 0 0" />
        <parent link="body" />
        <child link="rear_right_hip" />
        <limit effort="1000" velocity="1000.00" lower="-0.78539816339744827899" upper="0.78539816339744827899" />
    </joint>
    <link name="rear_right_upper_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_right_upper_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_right_upper_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="rear_right_hip_y" type="revolute">
        <origin xyz="0.0 -0.110945 0.0" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="rear_right_hip" />
        <child link="rear_right_upper_leg" />
        <limit effort="1000" velocity="1000.00" lower="-0.89884456477707963539" upper="2.2951079663725435509" />
    </joint>
    <link name="rear_right_lower_leg">
        <visual>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_right_lower_leg.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://spot_description/meshes/body/rear_right_lower_leg_collision.stl" />
            </geometry>
        </collision>
    </link>
    <joint name="rear_right_knee" type="revolute">
        <origin xyz="0.025 0.000 -0.3205" rpy="0 0 0" />
        <axis xyz="0 1 0" />
        <parent link="rear_right_upper_leg" />
        <child link="rear_right_lower_leg" />
        <limit effort="1000" velocity="1000.00" lower="-2.7929" upper="-0.257725" />
    </joint>

    <!-- Spot Arm -->
    <xacro:if value="$(arg has_arm)">
        <xacro:include filename="$(find spot_description)/urdf/arm/spot_arm.urdf.xacro"/> 
        <xacro:spot_arm name="arm0"/>

        <joint name="arm0_mount" type="fixed">
            <origin xyz="0.292 0 0.188" rpy="0 0 0"/>
            <parent link="base_link"/>
            <child link="arm0_base_link"/>
        </joint>
    </xacro:if>

    <!-- Spot Arm -->
    <xacro:if value="$(arg has_velodyne)">
        <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/> 

        <xacro:VLP-16 parent="base_link" name="velodyne">
            <origin xyz="-0.24 0 0.16" rpy="0 0 0" />
        </xacro:VLP-16>
    </xacro:if>

    <!-- Optional custom includes. -->
    <xacro:include filename="$(optenv SPOT_URDF_EXTRAS empty.urdf)" />

    <!-- Frames for the Cameras -->
    <link name="head">
    </link>
    <joint name="head_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <axis xyz="0.0 0.0 0.0"/>
        <parent link="body"/>
        <child link="head"/>        
    </joint>

    <link name="frontleft">
    </link>
    <joint name="frontleft_joint" type="fixed">
        <origin xyz="0.4143098112853053 0.03465863984993092 0.023736863932068586" rpy="-2.575 1.145 -3.119"/>
        <axis xyz="0.0 0.0 0.0"/>
        <parent link="head"/>
        <child link="frontleft"/>        
    </joint>
    
    <link name="frontleft_fisheye">
    </link>
    <joint name="frontleft_fisheye_joint" type="fixed">
        <origin xyz="0.07651320795964356 -0.003502715263593939 0.0028709118810796006" rpy="-0.012 -0.026 -0.023"/>
        <axis xyz="0.0 0.0 0.0"/>
        <parent link="frontleft"/>
        <child link="frontleft_fisheye"/>        
    </joint>

    <link name="frontright">
    </link>
    <joint name="frontright_joint" type="fixed">
        <origin xyz="0.416 -0.039 0.023" rpy="2.585 1.151 3.136"/>
        <axis xyz="0.0 0.0 0.0"/>
        <parent link="head"/>
        <child link="frontright"/>        
    </joint>
    
    <link name="frontright_fisheye">
    </link>
    <joint name="frontright_fisheye_joint" type="fixed">
        <origin xyz="0.077 -0.003 0.002" rpy="-0.009 -0.009 -0.022"/>
        <axis xyz="0.0 0.0 0.0"/>
        <parent link="frontright"/>
        <child link="frontright_fisheye"/>        
    </joint>


    <link name="left">
    </link>
    <joint name="left_joint" type="fixed">
        <origin xyz="-0.166 0.111 0.036" rpy="-1.839 -0.006 0.004"/>
        <axis xyz="0.0 0.0 0.0"/>
        <parent link="head"/>
        <child link="left"/>        
    </joint>
    
    <link name="left_fisheye">
    </link>
    <joint name="left_fisheye_joint" type="fixed">
        <origin xyz="0.076 -0.002 0.006" rpy="-0.014 -0.054 0.020"/>
        <axis xyz="0.0 0.0 0.0"/>
        <parent link="left"/>
        <child link="left_fisheye"/>        
    </joint>

    <link name="right">
    </link>
    <joint name="right_joint" type="fixed">
        <origin xyz="-0.170 -0.107 0.035" rpy="1.839 -0.001 -0.008"/>
        <axis xyz="0.0 0.0 0.0"/>
        <parent link="head"/>
        <child link="right"/>        
    </joint>
    
    <link name="right_fisheye">
    </link>
    <joint name="right_fisheye_joint" type="fixed">
        <origin xyz="0.077 -0.003 0.003" rpy="-0.010 -0.010 -0.004"/>
        <axis xyz="0.0 0.0 0.0"/>
        <parent link="right"/>
        <child link="right_fisheye"/>        
    </joint>

    <link name="back">
    </link>
    <joint name="back_joint" type="fixed">
        <origin xyz="-0.417 -0.037 0.008" rpy="-1.833 -0.004 1.572"/>
        <axis xyz="0.0 0.0 0.0"/>
        <parent link="head"/>
        <child link="back"/>        
    </joint>
    
    <link name="back_fisheye">
    </link>
    <joint name="back_fisheye_joint" type="fixed">
        <origin xyz="0.077 -0.002 0.004" rpy="-0.009 -0.030 0.016"/>
        <axis xyz="0.0 0.0 0.0"/>
        <parent link="back"/>
        <child link="back_fisheye"/>        
    </joint>
    
</robot>
